html * {
  font-family: "Montserrat",Arial, sans-serif !important;
}
h1, h2, h3, h4{
  margin-top: 0 !important;
  margin-bottom: 20px !important;
}

body{
  background-image: url("./images/sky.jpg");
  background-attachment: fixed;
  color: white;
  padding-top: 90px;
}

.header .nav{
  line-height: 60px;
  padding-right: 20px;
}

.forecast-container{
  background-color: rgba(0,0,0,.5);
  margin-top: 20px;
  padding: 20px;
}
.forecast-container .btn-group{
  margin-bottom: 20px;
}

.long-term-forecast li {
  width: 14%;
  font-size: 100%;
  vertical-align: top;
  margin-bottom: 10px;
}
.long-term-forecast li img{
  width: 75%;
}

.short-term-forecast li{
  width: 8%;
  font-size: 100%;
  margin-bottom: 10px;
}

.short-term-forecast li img{
  width: 100%;
}

.current-weather{
  background-color: rgba(0,0,0,.5);
  font-size: 28px;
  padding: 20px;
  margin-top: 20px;
}

.current-weather .content-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}

.current-temp-wrapper{
  text-align: center;
}

.current-temp-wrapper .weather-condition{
  font-size: 32px;
}

.current-temp-wrapper .degree-symbol{
  font-size: 54px;
}

.current-weather .current-temp{
  font-size: 150px;
  line-height: 150px;
  font-weight: bold;
  vertical-align: top;
}

.current-weather .img-wrapper{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  height: 100%;
}

.current-weather img{
  width: 100%;
  max-width: 100px;
  min-width: 50px;
}

.current-weather .date{
  font-size: 14px;
  margin-bottom: 10px;
}

.other-weather-info {
  text-align: left;
  font-size: 12px;
  padding-top: 20px;
}

.react-autosuggest__container {
  
  line-height: 24px;
  position: relative;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}

.react-autosuggest__input {
  color: #1d6fa5;
  font-size: 18px;
  width: 100%;
  border: 2px solid transparent;
  padding: .15em .5em;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
          transition: border 0.2s, box-shadow 0.2s;
}
.react-autosuggest__input:focus {
  border-color: #3498db;
}
.react-autosuggest__suggestions-container {
  position: absolute;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border: 2px solid #3498db;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  color: #1d6fa5;
  width: 100%;
}

.react-autosuggest__suggestion {
  font-size: 18px;
  padding: .15em .5em;
  cursor: pointer;
}
.react-autosuggest__suggestion--focused {
  background: #f5f5f5;
}

.react-spinner {
  position: relative;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
}

.react-spinner_bar {
  -webkit-animation: react-spinner_spin 1.2s linear infinite;
  -moz-animation: react-spinner_spin 1.2s linear infinite;
  animation: react-spinner_spin 1.2s linear infinite;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  width: 20%;
  height: 7.8%;
  top: -3.9%;
  left: -10%;
}

@keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-moz-keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-webkit-keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

.circle {
  color: black;
  text-align: center;
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  font-size: 10px;
  line-height: 15px;
  width: 16px;
  height: 16px;
  background-color: red;
  z-index: 999;
  display: none;
}

.visible{
  display: initial;
}

.nav-item-wrapper{
  background-color: rgba(44, 62, 80, 0.2);
  border-radius: 4px;
}

.nav-item-wrapper>a{
  color: #2c3e50;
}

.nav-item-wrapper:last-child{
  margin-right: 0;
}

.nav-item-wrapper a{
  padding: 0 !important;
}

.nav-item-content{
  padding: 10px 15px;
}

.referral-container{
  margin-top: 20px;
  color: black;
}
.referral-container img{
  width: 250px;
}

.photo-of-the-day-container{
  background-color: rgba(0,0,0,.5);
  padding: 20px;
  margin-top: 20px;
}

.photo-of-the-day-container img {
  width: 100%;
}

.photo-title{
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
}

.photo-credits{
  margin-top: 2px;
  font-size: 12px;
  color: white;
}

.photo-info-wrapper{
  display: flex;
  justify-content: space-between
}

.hourly-forecast-table-container{
  margin-top: 20px;
  overflow-x: auto;
}
.hourly-forecast-table-container>.table{
  min-width: 900px !important;
}

table{
  table-layout: fixed;
  color: #a5d6ff;
}

.table-vertical tr>td:first-child{
  font-size: 12px;
  font-weight: bold;
  padding-right: 20px !important;
}
.table-vertical td{
  border-right: 1px solid #798d8f !important;
}

.table-vertical .conditions{
  font-size: 11px;
}

.table-vertical td:last-child{
  border-right: 0!important;
}
.table-vertical th{
  border-right: 1px solid #798d8f !important;
  text-align: center;
}
.table-vertical th:last-child{
  border-right: 0!important;
}

.table-horizontal td{
  border-top: 1px solid #798d8f !important;
}

.table-horizontal thead th{
  text-align: center;
  color: #a5d6ff;
  padding-bottom: 20px !important;
}


.line-chart-legend{
  margin-top: 10px;
  display: flex;
  justify-content: flex-end
}

.line-legend{
  list-style-type: square;
}

.line-legend>li{
  font-size: 22px;
  line-height: 20px;
}
.line-legend>li>span{
  font-size: 16px;
}

.line-legend>li:first-child{
  color: rgba(255,255,102,1);
  
}
.line-legend>li:last-child{
  color: rgba(65,105,225,1);
}
.select-hourly-forecast-view{
  display: flex;
  justify-content: flex-end;
  color: lightgrey;
}
.select-hourly-forecast-view> li{
  display: inline;
  margin-right: 10px;
  cursor: pointer;
}

.select-hourly-forecast-view> li:hover{
  border-bottom: 3px solid blue;
  color: white;
}

.active-view{
  border-bottom: 3px solid blue;
  color: white;
}