html * {
  font-family: "Montserrat",Arial, sans-serif !important;
}
h1{
  margin-top: 0 !important;
  margin-bottom: 20px !important;
}

.long-term-forecast{
  background-color: rgba(55,90,127, 0.3);
  margin-top: 20px;
  padding: 20px;
}

.long-term-forecast li {
  width: 14%;
  font-size: 100%;
  vertical-align: top;
  margin-bottom: 10px;
}
.long-term-forecast li img{
  width: 100%;
}

.short-term-forecast{
  background-color: rgba(55,90,127, 0.3);
  padding: 20px;
  margin-top: 20px;
}

.short-term-forecast li{
  width: 8%;
  font-size: 100%;
  margin-bottom: 10px;
}

.short-term-forecast li img{
  width: 100%;
}

.current-weather{
  background-color: rgba(55,90,127, 0.3);
  font-size: 28px;
  padding: 20px;
  margin-top: 20px;
}

.current-weather span{
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.current-weather span>div:first-child{
  font-size: 72px;
}

.current-weather img{
  width: 40%;
  max-width: 200px;
  min-width: 50px;
}

.current-weather .date{
  font-size: 14px;
  margin-bottom: 10px;
}

.react-autosuggest__container {
  
  line-height: 24px;
  position: relative;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}

.react-autosuggest__input {
  font-size: 18px;
  width: 100%;
  border: 2px solid transparent;
  padding: .15em .5em;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
          transition: border 0.2s, box-shadow 0.2s;
}
.react-autosuggest__input:focus {
  border-color: #0ce3ac;
}
.react-autosuggest__suggestions-container {
  position: absolute;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border: 2px solid #0ce3ac;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  color: black;
  width: 100%;
}

.react-autosuggest__suggestion {
  font-size: 18px;
  padding: .15em .5em;
  cursor: pointer;
}
.react-autosuggest__suggestion--focused {
  background: #f5f5f5;
}

.react-spinner {
  position: relative;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
}

.react-spinner_bar {
  -webkit-animation: react-spinner_spin 1.2s linear infinite;
  -moz-animation: react-spinner_spin 1.2s linear infinite;
  animation: react-spinner_spin 1.2s linear infinite;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  width: 20%;
  height: 7.8%;
  top: -3.9%;
  left: -10%;
}

@keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-moz-keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-webkit-keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

.circle {
  color: black;
  text-align: center;
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  font-size: 10px;
  line-height: 15px;
  width: 16px;
  height: 16px;
  background-color: red;
  z-index: 999;
  display: none;
}

.visible{
  display: initial;
}

.nav-item-wrapper{
  margin-right: 10px;
}

.nav-item-wrapper:last-child{
  margin-right: 0;
}

.nav-item-wrapper a{
  padding: 0 !important;
}

.nav-item-content{
  padding: 10px 15px;
}

.referral-container{
  margin-top: 20px;
}
.referral-container img{
  width: 250px;
}

.photo-of-the-day-container{
  background-color: rgba(55,90,127, 0.3);
  padding: 20px;
  margin-top: 20px;
}

.photo-of-the-day-container img {
  width: 100%;
}

.photo-title{
  margin-top: 5px;
  font-weight: bold;
}
